@use "../node_modules/spices-fruitui/src/scss/lib/import/basket" as * with (
  $typography-util: true,
  $spacing-util: true,
  $align-util: true,
  $other-util: true,
  $size-util: true,
  $flex: true,
  $navbar: true,
  $ui-colors: true,
  $base: true,
  );


.hero {
  // height: calc(100vh - 60px);
}


p, h3 {
  line-height: 2;
}

p {
  font-size: $font-md;
}

h3 {
  font-size: $font-lg;
  margin-top: 10px;
  margin-bottom: 10px;
  b,span {
    font-size: inherit !important;
  }
}


p,li {
  @media screen and (max-width: 768px) {
    line-height: 2.2 ;
  }
}


@include useShades(900);